:host {
  display: block;
  max-width: 30rem;
  margin: 0 auto;
}

main {
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0 0 15px #DDD;
}

footer {
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #AAA;
}
