h1 > a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
  display: block;
  max-width: 15rem;
  margin: 1rem auto 2rem auto;
}

p.softwareEngineer {
  margin-top: -1.5rem;
  color: #686868;
  margin-left: 3px;
}
