img {
  display: block;
  max-width: 15rem;
  margin: 1rem auto 2rem auto;
}

h1, p {
  text-align: center;
}

dl {
  margin: 2rem auto 0 auto;
  width: fit-content;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 0.75rem;

  dt {
    font-weight: bold;
    text-align: right;
  }

  dd {
    margin: 0;
  }

  >div {
    grid-column: 2;
    height: 1rem;
  }
}

